@model IEnumerable<Hotel_PL.Models.UserModel>

@{
    ViewData["Title"] = "AllGuests";
}

<h1>Список пользователей</h1>
<form class="mb-3" asp-action="GuestDetails" method="get">
    <div style="width: 300px" class="input-group">
        <input name="id" type="search" class="form-control rounded" placeholder="Поиск по Id" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">Найти</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
